@import 'tailwindcss';
@plugin 'daisyui' {
    themes: corporate --default;
}
@plugin '@tailwindcss/typography';

@import './fontawesome.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'JetBrains Mono', 'SF Mono', SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !important;
}

@media (width >= 40rem) {
    .prose {
        max-width: 40rem;
    }
}

@media (width >= 48rem) {
    .prose {
        max-width: 48rem;
    }
}

@media (width >= 64rem) {
    .prose {
        max-width: 64rem;
    }
}

@media (width >= 80rem) {
    .prose {
        max-width: 80rem;
    }
}

@media (width >= 96rem) {
    .container, .prose {
        max-width: 96rem;
    }
}

@media (width >= 112rem) {
    .container, .prose {
        max-width: 112rem;
    }
}

@media (width >= 128rem) {
    .container, .prose {
        max-width: 128rem;
    }
}

.badge-blue {
    @apply badge-primary rounded-box text-nowrap;
}

.badge-green {
    @apply badge-success rounded-box;
}

.badge-yellow {
    @apply badge-warning rounded-box;
}

.badge-red {
    @apply badge-error rounded-box;
}

.badge-gray {
    @apply badge-secondary rounded-box;
}

a:not(.btn) {
    @apply hover:text-accent;
}

.center-on-mobile {
    @apply text-center md:text-left;
}
